/**
 * @component component-name
 * @description Component description
 * -----------------------------------------------------------------------------
 */

.c-block {
  display: block;

  &__element {
    display: inline-block;
  }
}

/**
 * @component component-name
 * @hack Hack description
 * -----------------------------------------------------------------------------
 */

._c-block {
  display: inline-block;
}

/**
 * @component block-name
 * @modifier modifier-name
 * @description Modifier description
 * -----------------------------------------------------------------------------
 */

.c-block--modifier {
  display: inline;

  &__element {
    display: inline;
  }
}
