/**
 * Core: Base
 * -----------------------------------------------------------------------------
 */

body {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeSpeed;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
