/**
 * Core: Reset
 * -----------------------------------------------------------------------------
 */

html {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
figure,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6,
strong, b {
  font-weight: normal;
}

address,
cite,
dfn,
em, i {
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}
