////
/// Global variables
/// @group Globals
/// @author Kris Olszewski
////

/// Horizontal and vertical breakpoints map
/// ---
/// @type Map
/// ---
/// @prop {Map} horizontal - Horizontal breakpoints
/// @prop {Number} horizontal.tiny [450px] - Tiny
/// @prop {Number} horizontal.small [600px] - Small
/// @prop {Number} horizontal.medium [750px] - Medium
/// @prop {Number} horizontal.large [900px] - Large
/// @prop {Number} horizontal.huge [1050px] - Huge
/// @prop {Map} vertical - Vertical breakpoints
/// @prop {Number} vertical.tiny [300px] - Tiny
/// @prop {Number} vertical.small [450px] - Small
/// @prop {Number} vertical.medium [600px] - Medium
/// @prop {Number} vertical.large [750px] - Large
/// @prop {Number} vertical.huge [900px] - Huge

$breakpoints: (
  "horizontal": (
    "tiny"   : 400px,
    "small"  : 500px,
    "medium" : 700px,
    "large"  : 900px,
    "huge"   : 1050px
  ),
  "vertical": (
    "tiny"   : 300px,
    "small"  : 450px,
    "medium" : 600px,
    "large"  : 750px,
    "huge"   : 900px
  )
);

/// Colors map
/// ---
/// @type Map
/// ---
/// @prop {String} colors.red [#e32118] - Red

$colors: (
  "red" : #e32118,
);
