/**
 * Component: {component}
 * --------------------------------------------------
 */

.c-block {
  display: block;

  &__element {
    display: inline-block;
  }
}

/**
 * Component: {component}
 * Hack: {description}
 * --------------------------------------------------
 */

._c-block {
  display: inline-block;
}

/**
 * Component: {component}
 * Modifier: {modifier}
 * --------------------------------------------------
 */

.c-block--modifier {
  display: inline;

  &__element {
    display: inline;
  }
}
