//- JavaScript
case env
  when "dev"
    script(src="/vendors/bundle.js")
    script(src="/scripts/main.js")
  when "stage"
  when "prod"
    script(src="/vendors/bundle.min.js")
    script(src="/scripts/main.min.js")
