/**
 * Core: Base
 * --------------------------------------------------
 */

// scss-lint:disable SelectorFormat
body {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeSpeed;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
// scss-lint:lint:enable SelectorFormat
